/* --- IMPORTS --- */



/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: gray;
    --secondaryColor: lightGray;
    --accentColor: lightSlateGray;
    --interactableColor: darkSlateGrey;
    --hoverButtonColor: dimGray;
    --disableButtonColor: silver;
    --backgroundColor: whiteSmoke;
    --baseTextDarkColor: black;
    --baseTextLightColor: white;
    --playerBackground: rgb(86, 199, 86);
    --monsterBackground: rgb(180, 62, 62);



    /* TEXT  */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem;

    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 16px;
    --mediumSpacing: 24px;
    --largeSpacing: 35px;
    --xLargeSpacing: 50px;

    /* DETAILS */
    --borderRadius: 25px;
    --round: 50%;
    --shadow: 3px 3px 8px gray;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.fullWidth {
    grid-column: 1/-1;
}

.flex {
    display: flex;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
}

.flexWrap {
    flex-wrap: wrap;
}

.hidden {
    display: none;
}



/* --- GENERALS --- */

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: var(--largeSpacing) repeat(4, 1fr) var(--largeSpacing);
}

section {
    grid-column: 2/-2;
}

article {}

a {}

i {}

/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    grid-column: 2 / -2;
}

h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: var(--mediumSpacing) 0;
    text-align: center;
    color: var(--primaryColor);
}

h2 {
    font-size: 1.5rem;
    color: var(--accentColor);
    font-style: italic;
    margin: 0px;
    color: var(--primaryColor);
}

h3 {
    font-size: 1rem;
    margin: 0px;
    color: var(--accentColor);
}

p {
    margin: 0 0 var(--smallSpacing) 0;
    color: var(--baseTextDarkColor);
}

/* --- BUTTONS --- */
a .btn,
button {
    background: var(--interactableColor);
    padding: var(--standardSpacing) var(--mediumSpacing);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--baseTextLightColor);
    font-weight: bold;
}

a .btn:hover,
button:hover {
    background: var(--hoverButtonColor);
    transform: scale(1.04);
    transition: .2s;
}

button {
    grid-column: 2/-2;
}

/* --- CONTAINERS --- */
.monsterContainerEl {

    column-gap: var(--largeSpacing);
}

.battleArea {
    margin: 0 15%;
    display: grid;
}

.playerContainerEl {
    display: grid;
}

.cardContainer {
    column-gap: var(--xLargeSpacing);
}

/* --- CARDS --- */

.card {
    padding: var(--mediumSpacing);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow);
    width: 360px;
    margin: var(--standardSpacing) 0;
    height: 400px;
}

.stats {
    display: flex;
    gap: var(--standardSpacing);
}

.monsterCard {
    background: var(--monsterBackground);

}



.playerCard {
    background: var(--playerBackground);

}